### macOS ###
.DS_Store


### VisualStudioCode ###
.vscode/


### Python ###
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version


### Project ###
test/
train/
models/
notebook/